name: Deploy to VPS

on:
  push:
    branches:
      - release/prod

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH to VPS and deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: ${{ secrets.VPS_PORT }}
          script: |
            cd /home/deploy/app
            git pull origin release/prod
            docker compose down

            # Sertifikaları her seferinde güncel kopyala
            mkdir -p ./nginx/certs/techauth.eu
            cp /etc/letsencrypt/live/techauth.eu/fullchain.pem ./nginx/certs/techauth.eu/
            cp /etc/letsencrypt/live/techauth.eu/privkey.pem   ./nginx/certs/techauth.eu/
            chmod 644 ./nginx/certs/techauth.eu/fullchain.pem
            chmod 600 ./nginx/certs/techauth.eu/privkey.pem

            docker compose up -d --build
